@import url('https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

h1 {
    position: relative;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(85%, -350%);
    z-index: 2;
}

.btn {
    background-color: #fff;
    border:  1px solid #aaa;
    border-radius: 3em;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
}

.btn-small {
    font-size: .8rem
    padding: 2rem 3rem;
}

.btn-ghost {
    border: 0;
    background-color: transparent;
}

.clear {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.cards {
    perspective: 200em;
    position: relative;
    height: 20em;
    width: 15em;
    max-width: 100%;
}

.card {
    position: absolute;
    opacity: 0;
    font-size: 1.25em;
    top: 0;
    left: -5rem;
    height: 100%;
    transform: translateX(50%) rotateY(-10deg);
    transition: tranform 0.4s ease, opacity 0.4s ease;
}

.card.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) rotateY(0deg);
}

.card.left {
    transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
    background-color: white;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.7);
    border-radius: .5em;
    height: 28rem;
    width: 25rem;
    position: relative;
    transform-style: preserve-3d;
    transition: trasform 0.4s ease;
}

.card.show-answer .inner-card {
    transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #fff;
}

.inner-card-front {
    transform: rotateX(0deg);
    z-index: 2;
}

.inner-card-back {
    transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
    content: '\f021  Flip';
    font-family: 'Font Awesome 5 Free', Lato, sans-serif;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    font: 1em;
    color: #ddd;

}


