@import url('https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

h1 {
    position: relative;
    top: -11rem;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(0%, -0%);
    z-index: 2;
}

.btn {
    background-color: #fff;
    border:  1px solid #aaa;
    border-radius: 3em;
    font-size: .5rem;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
}

.btn-small {
    font-size: .5em;
    top: 1.5rem;
    left: 3rem;
    width: 8rem;
    height: 4rem;
}

.btn-ghost {
    top: -2em;
    left: -6em;
    border: 0;
    background-color: transparent;
}

.clear {
    position: absolute;
    font-size: .8em;
    width: 8rem;
    height: 4rem;
    bottom: 3rem;
    left: 3rem;
}

.add-btn {
    width: 8rem;
    height: 4rem;
    font-size: .8rem;
}

.cards {
    perspective: 20em;
    position: relative;
    height: 20rem;
    width: 15em;
    max-width: 100%;
}

.card {
    position: absolute;
    opacity: 0;
    font-size: 1.25em;
    top: -5em;
    left: -5rem;
    height: 50%;
    transform: translateX(50%) rotateY(-10deg);
    transition: tranform 0.4s ease, opacity 0.4s ease;
}

.card.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) rotateY(0deg);
}

.card.left {
    transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
    background-color: white;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.7);
    border-radius: .5em;
    height: 20em;
    width: 20em;
    position: relative;
    transform-style: preserve-3d;
    transition: trasform 0.5s ease;
}

.card.show-answer .inner-card {
    transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #fff;
}

.inner-card-front {
    transform: rotateX(0deg);
    z-index: 2;
}

.inner-card-back {
    transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
    content: '\f021  Flip';
    font-family: 'Font Awesome 5 Free', Lato, sans-serif;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    font: 1em;
    color: #ddd;
}

.navagation {
    display: flex;
    margin: .5rem 0;
}

.navagation .nav-button {
    border: none;
    background-color:transparent;
    cursor: pointer;
    font-size: 1em;
}

.navagation p {
    margin: 0 2em;
}


.add-container{
    opacity: 0;
    z-index: -1;
 background-color: #f0f0f0;
 border-top: 1rem solid #eee;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 1rem 0 ;
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
 transition: 0.3s ease;
}

.add-container.show {
    opacity: 1;
    z-index: 2;
}

.add-container h3 {
    margin: 1em 0;
}

.add-container label {
    display: block;
    margin: 1em 0 1em;
}

.form-group textarea {
    border: .4em solid #aaa;
    border-radius: 1em;
    font-size: 2em;
    padding: .5rem ;
    min-width: 10em;
    max-width: 100%;
}


